p  {
	color: rgb(0, 0, 128);
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px; 
	line-height: 18px;
	width: 700px;
	background-color: antiquewhite
	padding: 20px;
	
 }
 h1, h2 { 
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: rgb(0,0,150);	
 }
 span {color: rgb(255, 0, 255); }

 a:link {
	color: black;
	background-color: white;
	padding:5px;
	line-height: 40px;
	border: 1px solid #000000;
	
 }
 a: hover{
	background-color: grey
 }